@media screen and (min-width: 1200px) {
	.container {
		max-width: 1158px;
	}
	.header-tel {
		gap: 40px;
	}
	.mail-nav {
		font-size: 16px;
		line-height: 1.5;
		margin-left: auto;
		letter-spacing: 0.02em;
	}
	.mail-nav:is(:hover, :focus),
	.site-nav:is(:hover, :focus) {
		color: var(--firma-color);
	}
	.section {
		padding-top: 120px;
		padding-bottom: 120px;
	}

	.block-items {
		width: calc((100% - 72px) / 4);
	}
	.blok-properties {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 264px;
		height: 112px;
		border: 1px solid var(--white-logo-color);
		border-radius: 4px;
		background-color: var(--white-logo-color);
	}
	.title-properties {
		margin-top: 8px;
		font-size: 20px;
		line-height: 1.2;
	}
	.modal {
		height: 584px;
	}
	.hero {
		padding-top: 188px;
		padding-bottom: 188px;
		background-image: linear-gradient(90deg, rgba(46, 47, 66, 0.7), 100%, rgba(46, 47, 66, 0.7) 100%),
			url(../images/people-office-1.jpg);
		max-width: 1440px;
	}
	@media (min-device-pixel-ratio: 2),
		(-webkit-min-device-pixel-ratio: 2),
		(min-resolution: 192dpi),
		(min-resolution: 2dppx) {
		.hero {
			background-image: linear-gradient(90deg, rgba(46, 47, 66, 0.7), 100%, rgba(46, 47, 66, 0.7) 100%),
				url(../images/people-office-1@2x.jpg);
		}
	}
	.section-what {
		display: flex;
		padding-top: 0px;
	}
	.items-picture-team {
		flex-wrap: nowrap;
	}
	.customers-list {
		display: flex;
		justify-content: center;
		gap: 24px;
		flex-wrap: nowrap;
	}
	.container-customers {
		max-width: 1128px;
	}
	.block-footer {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.text-footer {
		width: 264px;
	}
	.footer-item {
		flex-wrap: nowrap;
	}
	.footer-grup-social {
		margin-right: 80px;
	}
	.footer-grup-logo {
		margin-right: 120px;
	}
	.hero-portfolio {
		margin-bottom: 72px;
	}
	.section-portfolio {
		padding-top: 96px;
		padding-bottom: 120px;
	}
}
