@media screen and (min-width: 480px) {
	.container {
		max-width: 428px;
	}
	.container-customers {
		align-items: center;
		margin-left: auto;
		margin-right: auto;
	}
}
@media screen and (min-width: 320px) and (max-width: 480px) {
	.container-customers {
		max-width: 396px;
	}
}
